<launch>

  <arg name="save_dir" default="$(find moveit_recorder)/videos" />
  <arg name="regex" default="view." />
  <arg name="prefix" default="split" />
  
  <node name="split_screen_creator" pkg="moveit_recorder" type="split_screen_creator_node" 
    args="--save_dir $(arg save_dir) --regex $(arg regex) --prefix $(arg prefix)"
    respawn="false" output="screen">
  </node>
  
</launch>

